@layer nb.components {
  :where([data-card]) {
    display: grid;
    align-content: start;
    gap: calc(var(--spacing) * 6);
    padding: calc(var(--spacing) * 6);
    border: 1px solid var(--border);
    border-radius: calc(var(--radius) + 4px);
    background: var(--card);
    color: var(--card-foreground);
    box-shadow: var(--shadow);

    & > header { display: grid; gap: calc(var(--spacing) * 1.5); }
    & > header > :is(h1, h2, h3, h4, h5, h6) { margin: 0; font-size: 1rem; }
    & > header > p { margin: 0; color: var(--muted-foreground); font-size: .875rem; }
    & > footer { display: flex; align-items: center; gap: calc(var(--spacing) * 2); }
    & > :is(img, video, picture):first-child { max-inline-size: calc(100% + var(--spacing) * 12); inline-size: calc(100% + var(--spacing) * 12); margin: calc(var(--spacing) * -6) calc(var(--spacing) * -6) 0; border-radius: calc(var(--radius) + 3px) calc(var(--radius) + 3px) 0 0; }
  }
}
